/*#videos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}*/

body,
html {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: black;
	justify-content: center;
	align-items: center;
	font-family: "Tektur";
}

.bg-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 0;
	display: block;
	background-image: url("https://assets.mixkit.co/videos/44165/44165-thumb-720-0.jpg");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(4px);
	-webkit-filter: blur(4px);
}

#call-menu-wrap {
	position: relative;
	display: flex;
}

#call-menu-container {
	position: fixed;
	left: 50%;
	bottom: 2%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}

#call-menu {
	visibility: hidden;
	z-index: 1;
	display: flex;

	position: relative;
	bottom: 0px;

	background-color: rgb(34, 40, 49);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 100px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	color: white;
}

#call-menu.callactive {
	visibility: visible;
	z-index: 9999;
}

.call-menu-buttons {
	background-color: rgb(217, 217, 217);
	width: 100px;
	height: 100px;
	color: white;
	border-radius: 50%;
	margin: 5px;
}

.call-button-img {
	position: relative;
	width: 60px;
	height: 60px;
}

#hangup-button {
	background-color: rgb(242, 36, 57);
}

#menu-buttons {
	background-color: rgb(34, 40, 49);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 100px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	color: white;

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	margin-inline: auto;

	text-align: center;

	z-index: 9998;

	visibility: visible;
}

#menu-buttons.callactive {
	visibility: hidden;
	z-index: 1;
}

#menu-button-grid {
	display: flex;
	align-items: center;
}

.menu-button {
	background-color: rgb(0, 173, 181); /* Green */
	border: none;
	color: white;
	padding: 3px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

	width: 200px;

	margin-inline: 10px 10px;
	margin-bottom: 20px;

	border: 1px solid rgb(0, 0, 0);
	border-radius: 100px;

	z-index: 9999;
}

.audio-controls-box {
	width: 75%;
	max-width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#videos {
	width: 100%;
}

#local-video {
	width: 25%;
	position: absolute;
	bottom: 0;
	right: 0;
	visibility: hidden;
	z-index: 9998;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 25px;
}

#remote-video {
	width: 100%;
	visibility: hidden;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 9997;
}

.video-player {
	background-color: black;
	width: 100%;
}

#jamsphere-header {
	background-color: rgb(34, 40, 49);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 100px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	color: white;

	padding: 15px;

	position: fixed;
	left: 20%;
	top: 6%;
	transform: translate(-50%, -50%);

	z-index: 1;
	visibility: hidden;

	display: flex;
}

#jamsphere-header.callactive {
	z-index: 9999;
	visibility: visible;
}

#user-name {
	position: relative;
	top: 10px;
	color: rgb(0, 173, 181);
	font-family: "Courier New", Courier, monospace;
	font-size: medium;
}

.hover-box {
	background-color: rgb(34, 40, 49);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 100px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

	/*fade-in transition properties*/
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
	z-index: -1;

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;

	justify-content: center;
	max-width: fit-content;
	margin-inline: auto;
}

.hover-inner {
	padding-top: 15px;
	position: relative;
	padding-inline: 50px;
	text-align: center;
	color: white;
}

#answer-code {
	width: 95%;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 30px;
	margin-bottom: 10px;
}

#close-hover {
	background-color: rgb(242, 36, 57);
}

.hover-box.open {
	visibility: visible;
	opacity: 1;
	transition-delay: 0ms;
	z-index: 9999;
}

#local-video.open {
	visibility: visible;
}

#remote-video.open {
	visibility: visible;
}

#volume-slider {
	/*fade-in transition properties*/
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
	z-index: -1;
	transform: rotate(-90deg);
}

#volume-slider.pressed {
	visibility: visible;
	opacity: 1;
	transition-delay: 0ms;
	z-index: 9999;
}

#audioInputSelect {
	visibility: hidden;
	/*fade-in transition properties*/
	opacity: 0;
	transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
	z-index: -1;
}

#audioInputSelect.open {
	visibility: visible;
	opacity: 1;
	transition-delay: 0ms;
	z-index: 9999;
}

#audioOutputSelect {
	/*fade-in transition properties*/
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
	z-index: -1;
}

#audioOutputSelect.open {
	visibility: visible;
	opacity: 1;
	transition-delay: 0ms;
	z-index: 9999;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: rgb(34, 40, 49);
	background-image: none;
	flex: 1;
	padding: 0 0.5em;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
	display: none;
}
.select {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: rgb(34, 40, 49);
	overflow: hidden;
	border-radius: 0.25em;
}

.select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor: pointer;
	pointer-events: none;
	transition: 0.25s all ease;
}
.select:hover::after {
	color: rgb(0, 173, 181);
}
